[Desktop Entry]
Type=Application
Name=MusicPenguin
Comment=MusicPenguin is a fast local-first music library and player.
Exec=/usr/bin/musicpenguin %F
Icon=musicpenguin
Categories=AudioVideo;Audio;Music;Player;
MimeType=audio/mpeg;audio/x-flac;audio/ogg;audio/x-wav;audio/mp4;audio/aac;
Terminal=false
StartupNotify=true
StartupWMClass=musicpenguin
